
body
{
    background-color:#ff8fff;;
     align-items: center;
}
u,#response404
{
    color:#0a0444;
   font-size: 30px;
   font-weight: bold;

}
#adhaar1{
    float:right;
}
h1{
    background-color: #022968;
    color:#ffffff;
    font-family: 'Times New Roman';
    font-size:20px;
    padding:10px;
    letter-spacing: 5px;
    margin: -10px -10px 10px -10px;
    width:100%;
    text-align: center;
    
}
input,textarea{
    padding :10px;
    border-radius: 10px;
    font-size:20px;
    border:3px solid #ff9000;
   width: 22%;
   


}
button
{
    padding:5px 10px 5px 10px;
    font-size:20px;
    margin-left: 2%;
    background-color: #43a334;
    color:#ffffff;
    font-weight: bold;
    border: none;
   
    border-radius: 3px;
}
#checkbox-text{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;


}
#maindiv{
    border:2px solid black;
}
p
{
    color:#0a0444;
    font-size: 20px;

}
*{
    font-family: 'Helvetica';
}
#checkbox{
    width:20px;
}
img{
    float:left;
}
#details{
    text-align: center;
}
legend{
    color:#0a0444;
    font-size: 20px;
    font-weight: bold;

}
#homepage-button{
    margin-left:35%;
    
}
#email-form
{
    margin-left:10%;
}
#warn{
    color:#ff1414fd;
}
textarea{
    height:25%;
    width: 20%;
}
ul,tr,table {
    position:sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4580e0;
    border-radius:24px;

}
table{
    width:100%
}

li,td {
    float: left;
}

li a,td a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover,td a:hover {
    background-color: #0056e2;
} 
#logo{
    margin-top:-10px;

}
/* media queries*/
@media screen and ( max-width : 800px)
{
    input{
        width:46%;
    }
    #date-input
    {
        width:29%;
    }
    #email
    {
        width:97%;
    }
    #pass{
        width:97%;
        margin-top:10px;
    }

    button{
        margin-top:5px;
    }
    img{
        width:99%;
        margin-bottom: 10px;
    }
    hr{
        margin-top:-50px;
    }
    #homepage-button{
        margin-top:-40px;
        margin-left:25%;
    }
    #welcome
    {
        text-align: center;
    }
    #logo{
        width:50px;
        margin:5px;
    }
}